.layout {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  background-color: rgb(250, 163, 2);
  color: #242424;
  font-family: 'Roboto', arial, sans-serif;
}
